
.aboutUs{
    max-width: 1400px;
    margin: 0 auto;
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    h1{
        font-weight: 400;
    }
    &_item{
        width: 15%;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .link{
            span{
                color: gray;
                font-size:17px ;
            }
            .aboutus_link{
                text-decoration: none;
                color:black;
                font-size: 20px;
            }
        }
    }
}
.sona{
    max-width: 1400px;
    height: 55vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    &_left{
        width: 45%;
        height: 50vh;
        display: flex;
        // justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 10px;
        h1{
            font-weight: 400;
            font-size: 50px;
        }
        p{
            color: gray;
            font-size: 18px;
        }
    }
    &_right{
        width: 38%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        &_content{
            display: flex;
            width: 280px;
            gap: 5px;
            p{
                font-size: 19px;
                color: rgb(163, 162, 162);
            }
            i{
                font-size: 17px;
                color: sandybrown;
            }
        }
    }
}
@media only screen and (max-width:1050px) {
    .aboutUs{
        height: 14vh;
        max-width: 1020px;
        &_item{
                width: 25%;
                height: 100%;
        }
    }
    .sona{
        max-width: 1020px;
        height: 26vh;
        display: flex;
        justify-content: center;
        align-items: center;
        &_left{
            height: 23vh;
        }
        &_right{
            height: 23vh;
        }
    }
}
@media only screen and (max-width:800px) {
    .sona{
        max-width: 800px;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        &_left{
            height: 27vh;
        }
        &_right{
            height: 27vh;
        }
    }
}
@media only screen and (max-width:610px) {
    .sona{
        height: 70vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 609px;
        &_left{
            height: 50%;
            width: 90%;
        }
        &_right{
            height: 40%;
            width: 90%;
        }
    }
}