.menu{
    background-color: rgba(181, 83, 13, 0.729);
    width: 50%;
    height: 100vh;
    margin-top: 20px;
    position: absolute;
    z-index: 5;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease all;
    .sosial{
        display: flex;
        width: 200px;
        justify-content: center;
        gap: 10px;
        i{
            color: white;
            font-size: 25px;
            transition: 0.3s;
            &:hover{
                color: rgba(244, 165, 96, 0.339);
            }
        }
    }
    // transform: translateX(-100%);
    .menu_link{
        background-color: sandybrown;
        padding: 5px;
        font-size: 17px;
        border-radius: 6px;
        width: 45%;
        text-align: center;
        text-decoration: none;
        transition: 0.4s ;
        color: white;
        border: 2px solid sandybrown;
        &:hover{
            background-color: rgb(232, 137, 69);
            width: 65%;
            border: 2px solid white;
        }
    }
}
nav{
    margin: 0 auto;
    max-width: 1400px;
    height:9vh;
    display: flex;
    position: relative;
    .bars{
        border: none;
        background-color: transparent;
        display: flex;
        width: 100px;
        height: 50px;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: rgb(234, 138, 53);
        transition: 0.4s;
        .burger-bar{
            background-color: black;
            width: 40px;
            height: 8px;
            border-radius: 12px;
           
        }
    }
    .navbar_left{
        width: 45%;
        height: 9vh;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .left_word{
            width: 27%;
            height: 9vh;
            font-size: 38px;
            display: flex;
            align-items: center;
        }
        div{
            width: 27%;
        }
    }
    .navbar_right{
        width: 55%;
        margin-top: 10px;    
        height:9vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        position: relative;
        .dropdown{
            background: white;
            position: absolute;
            top:37px;
            left: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            z-index: 8;
            width: 160px;
            overflow: hidden;
            height: 0px;
            box-shadow: 5px 10px 8px #88888862;
            &_link{
                padding-left: 14px;
                text-decoration: none;
                color: black;
                &:hover{
                    color: sandybrown;
                }
            }
        }
        .nav_link2{
            border-bottom: 2px solid white;
        }
        div{
            background-color: lightgoldenrodyellow;
            position: relative;
            background-color: azure;
            i{
                right: 75px;
                top: 5px;
                position: absolute;
                pointer-events: none;
                cursor: pointer;
               
           }
           input{
            height: 25px;
            border: none;
            cursor: pointer;
            &:focus{
               outline-color: sandybrown;
            }
           }
        }
        .nav_pages_link:hover .dropdown{
            height: 100px;
            transition: 0.8s;
            // display: flex;
        }
        .nav_pages_link{
            text-decoration: none;
            color: black;
            font-size: 18px;
            border-bottom: 2px solid white;
            &:hover{
                border-bottom:2px solid sandybrown; 
          }
        }
        .nav_link2{
            text-decoration: none;
            color: black;
            font-size: 19px;
            transition: 0.3s;
            &:hover{
                  border-bottom:2px solid sandybrown; 
            }
        }
  
    }
}
@media only screen and (max-width:1050px) {
    nav{
        margin-top: 10px;
        max-width: 995px;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .navbar_left{
            height: 5vh;
            width:27%;
        }
        .navbar_right{
            height: 5vh;
            width: 60%;    
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 115px;
                height: 60px;
                position: relative  ;
                margin-right: 10px;
                input{
                    width: 115px;
                }
                i{
                    position: absolute;
                    left: 50px;
                    top: 23px;
                }
            }        
        }
    }
}
// @media only screen and () {
    
// }
@media only screen and (max-width:850px) {
    nav{
        display: flex;
        justify-content: space-between;
        .navbar_right{
            display: none;
        }
        .bars{
            display: block;
            min-height: 8vh;
            display: flex;
            align-items: center;
            min-width: 70px;
            justify-content: center;
            transition: 0.4s ease all;
            margin-right: 30px;
            &:hover .burger-bar{
               background-color: sandybrown;
             transition: 0.4s ease all;
            }
          
        }
    }
    .menu{
        
        height: 50vh;
    }
   
}