.blog_word {
  max-width: 1400px;
  margin: 0 auto;
  height: 25vh;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
}
.blog_word h6 {
  color: rgb(192, 103, 39);
}
.blog_word h1 {
  font-size: 55px;
  font-weight: 400;
}

.blog {
  max-width: 1400px;
  max-height: 130vh;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.blog_container {
  width: 85%;
  height: 130vh;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.blog_container .blogs {
  width: 31%;
  height: 63vh;
  border-radius: 8px;
  position: relative;
}
.blog_container .blogs_word {
  line-height: 40px;
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 12px;
  width: 91%;
}
.blog_container .blogs_word p {
  font-size: 27px;
}
.blog_container .blogs_word .color-span {
  font-weight: 400;
  background-color: rgb(192, 103, 39);
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  width: 28%;
  border-radius: 4px;
  height: 28px;
  padding: 5px;
  display: flex;
  line-height: 18px;
  margin-bottom: 15px;
  justify-content: center;
}
.blog_container .blogs_word span i {
  font-size: 12px;
}
.blog_container .blogs_word span {
  font-size: 12px;
  letter-spacing: 3px;
}
.blog_container .blogs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.blog_container .blogs-4 {
  width: 65%;
  height: 63vh;
  border-radius: 8px;
  position: relative;
}
.blog_container .blogs-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.blog_container .blogs-4 .blogs-4_word {
  line-height: 40px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  color: black;
  position: absolute;
  bottom: 10px;
  left: 25px;
  width: 260px;
}
.blog_container .blogs-4 .blogs-4_word h5 {
  font-size: 27px;
}
.blog_container .blogs-4 .blogs-4_word p {
  font-size: 12px;
  letter-spacing: 2px;
  margin-left: 10px;
}
.blog_container .blogs-4 .blogs-4_word span i {
  font-size: 12px;
}

@media only screen and (max-width: 1250px) {
  .blog {
    width: 100%;
    height: 100vh;
  }
  .blog_container {
    width: 87%;
    height: 99%;
  }
  .blog_container .blogs {
    width: 30%;
    height: 45vh;
  }
  .blog_container .blogs_word .color-span {
    width: 100px;
  }
  .blog_container .blogs-4 {
    width: 65%;
    height: 45vh;
  }
}
@media only screen and (max-width: 900px) {
  .blog {
    width: 100%;
    height: 170vh;
    display: flex;
    flex-wrap: wrap;
    width: 87%;
    height: 95%;
  }
  .blog .blogs {
    width: 47%;
    height: 35vh;
  }
  .blog .blogs-4 {
    width: 47%;
    height: 35vh;
  }
  .blog .blogs-5 {
    width: 98%;
    height: 45vh;
  }
}
@media only screen and (max-width: 750px) {
  .blog {
    width: 100%;
    height: 190vh;
    background-color: aqua;
  }
  .blog_container {
    background-color: lightcoral;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 95%;
  }
  .blog_container .blogs {
    width: 60%;
    height: 25vh;
  }
  .blog_container .blogs-4 {
    width: 60%;
    height: 25vh;
  }
  .blog_container .blogs-5 {
    width: 60%;
    height: 25vh;
  }
}/*# sourceMappingURL=Blog.css.map */