.footer{
    background-color: rgb(4, 4, 25);
    max-width: 1400px;
    height: 45vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    &_container{
        width: 90%;
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 85px;
        .foot{
            width: 30%;
            height: 90%;
            display: flex;
            align-items: center;
            &-icon{
                margin-top: 15px;
                font-size: 20px;
                letter-spacing: 15px;
                display: flex;
                gap: 15px;
              button{
                background-color: transparent;
                color: white;
                border: 1px solid white;
                border-radius: 1px solid white;
                border-radius: 100%;
                transition: 0.4s;
                &:hover{
                    background-color: sandybrown;
                    border: 1px solid sandybrown;
                }
                i{
                    padding: 10px;
                }
              }
            }
            p{
                margin-top: 15px;
                color: gray;
            }
        }
        .foot2{
            width: 30%;
            height: 90%;
            display: flex;
            align-items: start;
            flex-direction: column;
            justify-content: center;
            div{
                height: 70%;
            }
            h5{
                color: sandybrown;
                font-size: 15px;
                font-weight: 600;
                letter-spacing: 2px;
                
            }
            p{
                color: gray;
            }
        }
        .foot3{
            width: 30%;
            height: 90%;
            display: flex;
            align-items: start;
            flex-direction: column;
            justify-content: center;
            .new{
                height: 175px;
                h5{
                    color: sandybrown;
                    font-size: 15px;
                    font-weight: 600;
                    letter-spacing: 2px;
                }
                input{
                    padding: 10px;
                    width: 250px;
                    padding-left: 25px;
                    border-radius: 2px;
                    border: none;
                    background-color: rgba(128, 128, 128, 0.443);
                    color: rgb(180, 174, 174);
                }
                input::placeholder{
                    color: rgb(189, 185, 185);
                }
                button{
                    padding: 11px;
                    background-color: sandybrown;
                    color: white;
                    border: none;
                    border-radius: 2px;
                    &:hover{
                        background-color: rgb(238, 126, 46);
                    }
                }
            }
        }
    }
}
.footer_end{
    background-color: rgba(2, 2, 28, 0.962);
    max-width: 1400px;
    margin: 0 auto;
    max-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &_container{
        height: 16vh;
        width: 90%;
        display: flex;
        justify-content: center;
        gap: 30px;
        .end{
            margin-top: 17px;
            width: 46%;
            display: flex;
            justify-content: space-between;
            a{
                text-decoration: none;
                color: rgba(128, 128, 128, 0.873);
            }

        }
        .end1{
            margin-left: 150px;
            margin-top: 17px;
            display: flex;
            justify-content: end;
            p{
                color: gray;
            }
        }
    }
}
@media only screen and (max-width:1070px) {
    .footer_end{
            &_container{
            .end{
                display: flex;
                flex-direction: column;
            }
          
        }
    }
}
@media only screen and (max-width:1050px) {
    .footer_container{
        height: 23vh;
        .foot2{
            height: 230px;
        }
        .foot3{
            width: 40%;
        }
    }
  
}
// @media only screen and (max-width:870px) {
//     .footer{
//         background-color: aqua;
//         &_container{
//             background-color: lightgreen;
//             .foot{
//                 background-color: orange;
//             }
//             .foot2{
//                 background-color: orangered;
//             }
//             .foot3{
//                 background-color: chartreuse;
//                 width: 20%;
//             }
//         }
//     }
// }
@media only screen and (max-width:860px) {
    .footer{
        width: 100%;
        height: 65vh;
        &_container{
            width: 93%;
            height: 55vh;
            display: flex;
            align-items: start;
            flex-direction: column;
            justify-content: center;

            .foot{
                width: 90%;
                margin-top: 25px;
            }
            .foot2{
                width: 90%;
            }
            .foot3{
                width: 90%;
                .new{
                    div{
                        input{
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
    .footer_end{
       height: 20vh;
        &_container{
            display: flex;
        flex-direction: column;
            align-items: start;
            height: 95%;
        .end{
            }
            .end1{
                width: 70%;
                display: flex;
                justify-content: start;
                margin: 0;

            }
        }
    }
}