.room {
    max-width: 1400px;
    margin: 0 auto;
    height: 92vh;
    display: flex;
    gap: 25px;
    align-items: center;
    display: flex;
    margin-top: 160px;
    // &_content {
    //     width: 100%;
    //     height: 90vh;
    // }

    .room_content {
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover .hover_content {
            top: 32%;
            transition: 0.5s;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-position: center;
        }
        .hover_content {
            position: absolute;
            top: 82%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 58%;
            color: white;
            gap: 20px;

            h3 {
                font-weight: 500;
                text-align: center;
            }
            .dollar {
                color: rgb(180, 89, 24);
                font-size: 25px;
            }
            button {
                background-color: transparent;
                border: none;
                border-bottom: 2px solid white;
                font-size: 18px;
                padding: 5px;
                color: white;
            }

            .size {
                display: flex;
                justify-content: space-around;
                align-items: center;
                .s {
                    width: 105px;
                    span {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:1300px) {
    .room{
        width: 100%;
        height: 60vh;
    }
}
@media only screen and (max-width:1200px) {
    .room{
        width: 100%;
        height: 50vh;
    }
}
@media only screen and (max-width:1000px) {
    .room{
        width: 60%;
        height: 205vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        &_content{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

